<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/_pages/401.css" />
    <link rel="stylesheet" href="/styles/_abstract/root.css" />
    <link rel="stylesheet" href="/styles/_abstract/button.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link
      rel="shortcut icon"
      href="/assets/Tinder DC Proto.png"
      type="image/x-icon"
    />
    <title>DCTinder - Please login!</title>
  </head>
  <body>
    <h1>Please Login To access this!</h1>
    <div class="buttons">
      <a href="/auth/login" class="btn secondary">Login</a>
      <a href="/" class="btn primary">Home</a>
    </div>
  </body>
</html>
