<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/_abstract/root.css" />
    <link rel="stylesheet" href="/styles/_abstract/button.css" />
    <link rel="stylesheet" href="/styles/_components/navbar.css" />
     <link rel="stylesheet" href="/styles/_pages/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>DCTinder - find your perfect e dates 😭</title>
</head>
<body>
   <div class="nav">
      <%- include('../../modules/UI/navbar'); -%>
   </div>
    <div class="main__container">
      <div class="header">
        <h1>Simple, Fast & For Everyone!</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam fugit maxime doloribus deserunt nihil perferendis, et quas saepe? Cumque nulla minus aut voluptatibus dolor soluta.</h3>
        <div class="buttons">
          <a href="/auth/login" class="btn primary">Login</a>
          <a href="/discord" class="btn secondary">Support</a>
        </div>
      </div>
    </div>
</body>
</html>