<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/_pages/401.css" />
    <link rel="stylesheet" href="/styles/_abstract/root.css" />
    <link rel="stylesheet" href="/styles/_abstract/button.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link
      rel="shortcut icon"
      href="/assets/Tinder DC Proto.png"
      type="image/x-icon"
    />
    <title>DCTinder - Sorry To See You Go</title>
  </head>
  <body>
    <h1>Its sad to see you go! We hope to see you back here again another time 😭</h1>
    <a href="/profile" class="btn primary">Home :(</a>
  </body>
</html>
